nav.navbar(style="background:#99ffdd;")
  div.container
    a(href="/").navbar-brand.text-dark fuwapath
    ul.nav.justify-content-end
      li
        p.nav-link.text-dark.ml-3.m-0 現在サインアップ/ログインはできません
      li
        a(href="/").nav-link.text-dark.mr-3 Sign in
      li
        a(href="/").nav-link.btn.btn-outline-dark.btn-sm.bg-white.text-dark Sign up
