nav.navbar(style="background:#99ffdd;")
  div.container
    a(href="/").navbar-brand.text-dark fuwapath
    ul.nav.justify-content-end
      li
        a(href="/login").nav-link.text-dark.mr-3 Sign in
      li
        a(href="/signup").nav-link.btn.btn-outline-dark.btn-sm.bg-white.text-dark Sign up
