extends layout/head

block body
  include includes/navbar.pug
  if title == '認証成功 | fuwapath'
    p 認証に成功しました｡
      a(href="/login") ログイン
  else
    p 認証に失敗しました｡もう一度､最初からやり直してください｡
      a(href="/signup") サインアップ
