extends _layout

block content
  if user
    a(href="/user").btn.btn-primary ユーザーページでステータスを確認
  else
    button(type="button" data-toggle="modal" data-target="#loginModal")#login-button.btn.btn-secondary ログインしてステータスを更新
