extends _head

block body
  if user
    h5 行動ログ
    div#log-table
  else
    form(action="/signup", method="post")
      p ユーザー名:
        input(type="text", name="userName")
      p メールアドレス:
        input(type="email", name="email")
      p パスワード:
        input(type="password", name="password")
      button(type="submit") 新規登録
