extends _head

block body
  if user
    p 現在 #{user.username} でログイン中
    h5 行動ログ
    div#log-table
  else
    form(action="/signup", method="post")
      p ユーザー名:
        input(type="text", name="username")
      p メールアドレス:
        input(type="email", name="email")
      p パスワード:
        input(type="password", name="password")
      button(type="submit") 新規登録
    p または
    form(action="/login", method="post")
      p ユーザー名:
        input(type="text", name="username")
      p パスワード:
        input(type="password", name="password")
      button(type="submit") ログイン
