extends _head

block body
  if user
    p 現在 #{user.username} でログイン中
    h5 イベントログ
    div#log-table
    a(href="/user") ユーザーページ
  else
    form(action="/signup", method="post")
      div
        label
          p ユーザー名:
            input(type="text", name="username")
      div
        label
          p メールアドレス:
            input(type="email", name="email")
      div
        label
          p パスワード:
            input(type="password", name="password")
      div
        button(type="submit") サインアップ
    p または
    form(action="/login", method="post")
      div
        label
          p ユーザー名:
            input(type="text", name="username")
      div
        label
          p パスワード:
            input(type="password", name="password")
      div
        button(type="submit") ログイン
