extends _head

block body
  if user
    p 現在 #{user.username} でログイン中
    a(href="/logout") ログアウト
  else
    form(action="/login", method="post")
      div
        label
          p ユーザー名:
            input(type="text", name="username")
      div
        label
          p パスワード:
            input(type="password", name="password")
      div
        button(type="submit") ログイン
    p または
      a(href="/signup") サインアップ
