extends _head

block body
  form(action="/signup", method="post")
    div
      label
        p ユーザー名:
          input(type="text", name="username")
    div
      label
        p メールアドレス:
          input(type="email", name="email")
    div
      label
        p パスワード:
          input(type="password", name="password")
    div
      button(type="submit") サインアップ
