extends layout/head

block body
  include includes/navbar.pug
  if title == 'アカウントの確認 | fuwapath'
    p アカウント確認メールを #{email} に送信しました｡メール内のリンクから認証を行っってください｡
  else
    form(action="/signup", method="post")
      div
        label
          p ユーザー名:
            input(type="text", name="username")
      div
        label
          p メールアドレス:
            input(type="email", name="email")
      div
        label
          p パスワード:
            input(type="password", name="password")
      div
        button(type="submit") サインアップ
    p または
      a(href="/login") ログイン
