extends _head

block body
  if user.user_id == 'admin'
    p 管理者ページ
    div
      label
        p 通常イベントを追加:
          input(name="user_status_name" maxlength="30")
          button(type="submit").btn-status-add 適用
      div
        p 既存のイベント
        form(action="/user/common-status/delete", method="post")
          ul.ajax-list
  else
    p #{user.username} さんのユーザーページ
    h4 ユーザー設定
    form(action="/user/status", method="post")
      label
        p 追加するステータス名
          input(type="text", name="statusName")
          button(type="submit") 追加
